// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}
.user-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px auto;
}

 .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
